<section class="bg-black">
  <div class="container mx-auto max-w-310">
    <div class="flex justify-between py-10.75 flex-wrap max-lg:justify-center max-lg:gap-10">
      <img class="max-w-41.5 max-lg:max-w-29" src="/src/assets/images/versace.svg" alt="versace logo">
      <img class="max-w-41.5 max-lg:max-w-29" src="/src/assets/images/zara-logo-1.svg" alt="zara logo">
      <img class="max-w-41.5 max-lg:max-w-29" src="/src/assets/images/gucci-logo-1.svg" alt="gucci logo">
      <img class="max-w-41.5 max-lg:max-w-29" src="/src/assets/images/prada-logo-1.svg" alt="prada logo">
      <img class="max-w-41.5 max-lg:max-w-29" src="/src/assets/images/calvin.svg" alt="burberry logo">
    </div>
  </div>
</section>