<section class="bg-black overflow-hidden py-8 sm:py-10.75">
  <div class="w-full flex select-none overflow-x-hidden">
    
    <div class="flex whitespace-nowrap gap-12 sm:gap-20 md:gap-32 shrink-0 animate-[marquee_25s_linear_infinite] pr-12 sm:pr-20 md:pr-32">
      <a href="/versace" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/versace.svg" alt="versace logo">
      </a>
      <a href="/zara" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/zara-logo-1.svg" alt="zara logo">
      </a>
      <a href="/gucci" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/gucci-logo-1.svg" alt="gucci logo">
      </a>
      <a href="/prada" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/prada-logo-1.svg" alt="prada logo">
      </a>
      <a href="/calvin-klein" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/calvin.svg" alt="calvin klein logo">
      </a>
    </div>

    <div class="flex whitespace-nowrap gap-12 sm:gap-20 md:gap-32 shrink-0 animate-[marquee_25s_linear_infinite]" aria-hidden="true">
      <a href="/versace" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/versace.svg" alt="versace logo">
      </a>
      <a href="/zara" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/zara-logo-1.svg" alt="zara logo">
      </a>
      <a href="/gucci" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/gucci-logo-1.svg" alt="gucci logo">
      </a>
      <a href="/prada" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/prada-logo-1.svg" alt="prada logo">
      </a>
      <a href="/calvin-klein" class="inline-block transition-opacity hover:opacity-70 focus:outline-none">
        <img class="h-6 sm:h-8 md:h-9 w-auto object-contain" src="/src/assets/images/calvin.svg" alt="calvin klein logo">
      </a>
    </div>

  </div>
</section>