<section class="relative px-4 pb-20 mx-auto bg-[#F2F0F1] pt-36 mt-10 max-lg:mt-50">
  <div class="container mx-auto max-w-310">
    <div
      class="absolute top-0 flex items-center justify-between px-16 -translate-x-1/2 -translate-y-1/2 bg-black left-1/2 w-[calc(100%-2rem)] max-w-310 py-9 rounded-[20px] max-lg:flex-col max-lg:gap-8 max-lg:px-6 max-lg:py-12"
    >
      <h2
        class="font-black text-white font-integral text-[40px] leading-11.25 max-w-137.5 max-md:text-[32px] max-md:leading-8.75"
      >
        STAY UP TO DATE ABOUT OUR LATEST OFFERS
      </h2>
      <div class="flex flex-col gap-3.5 w-87.5 max-md:w-full">
        <div class="relative">
          <span
            class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none text-bg"
          >
            <svg class="w-5 h-5 fill-current">
              <use href="/src/assets/images/symbol-defs.svg#icon-email"></use>
            </svg>
          </span>
          <input
            type="email"
            placeholder="Enter your email address"
            class="w-full py-3 pl-12 pr-4 text-black bg-white rounded-full outline-none text-[16px] placeholder:text-black/40"
          />
        </div>
        <button
          class="w-full px-6 py-3 font-medium text-black transition bg-white border border-white rounded-full cursor-pointer font-satoshi text-[16px] hover:bg-black hover:text-white"
        >
          Subscribe to Newsletter
        </button>
      </div>
    </div>

    <div class="flex flex-col justify-between gap-12 mt-12 mb-12 lg:flex-row">
      <div class="flex flex-col justify-between max-w-62">
        <div>
          <a
            href="#"
            class="font-black tracking-tight text-black font-integral text-[32px]"
            >SHOP.CO</a
          >
          <p
            class="font-satoshi text-[14px] leading-5.5 text-black/60 mt-6.5"
          >
            We have clothes that suits your style and which you’re proud to
            wear. From women to men.
          </p>
        </div>
        <div class="flex gap-3 mt-9">
          <a
            href="#"
            class="flex items-center justify-center text-black transition bg-white border rounded-full w-7 h-7 border-black/20 hover:bg-black hover:text-white"
          >
            <svg class="fill-current w-3.5 h-3.5">
              <use href="/src/assets/images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
          <a
            href="#"
            class="flex items-center justify-center text-black transition bg-white border rounded-full w-7 h-7 border-black/20 hover:bg-black hover:text-white"
          >
            <svg class="fill-current w-3.5 h-3.5">
              <use
                href="/src/assets/images/symbol-defs.svg#icon-facebook"
              ></use>
            </svg>
          </a>
          <a
            href="#"
            class="flex items-center justify-center text-black transition bg-white border rounded-full w-7 h-7 border-black/20 hover:bg-black hover:text-white"
          >
            <svg class="fill-current w-3.5 h-3.5">
              <use
                href="/src/assets/images/symbol-defs.svg#icon-instagram"
              ></use>
            </svg>
          </a>
          <a
            href="#"
            class="flex items-center justify-center text-black transition bg-white border rounded-full w-7 h-7 border-black/20 hover:bg-black hover:text-white"
          >
            <svg class="fill-current w-3.5 h-3.5">
              <use href="/src/assets/images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="grid flex-1 grid-cols-2 gap-8 md:grid-cols-4 lg:ml-20">
        <div>
          <h4
            class="font-medium text-black uppercase font-satoshi text-[16px] tracking-[3px]"
          >
            Company
          </h4>
          <div class="flex flex-col gap-4 mt-6">
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >About</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Features</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Works</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Career</a
            >
          </div>
        </div>
        <div>
          <h4
            class="font-medium text-black uppercase font-satoshi text-[16px] tracking-[3px]"
          >
            Help
          </h4>
          <div class="flex flex-col gap-4 mt-6">
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Customer Support</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Delivery Details</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Terms & Conditions</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Privacy Policy</a
            >
          </div>
        </div>
        <div>
          <h4
            class="font-medium text-black uppercase font-satoshi text-[16px] tracking-[3px]"
          >
            FAQ
          </h4>
          <div class="flex flex-col gap-4 mt-6">
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Account</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Manage Deliveries</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Orders</a
            >
            <a
              href="#"
              class="transition font-satoshi text-black/60 text-[16px] hover:text-black"
              >Payments</a
            >
          </div>
        </div>
        <div>
          <h4
            class="font-medium text-black uppercase font-satoshi text-[16px] tracking-[3px]"
          >
            Resources
          </h4>
          <div class="flex flex-col gap-4 mt-6">
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Free eBooks</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Development Tutorial</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >How to - Blog</a
            >
            <a
              href="#"
              class="transition text-black/60 font-satoshi text-[16px] hover:text-black"
              >Youtube Playlist</a
            >
          </div>
        </div>
      </div>
    </div>

    <hr class="border-black/10" />

    <div class="flex flex-wrap items-center justify-between gap-4 pt-6">
      <p class="font-satoshi text-[14px] text-black/60">
        Shop.co © 2000-2023, All Rights Reserved
      </p>
      <div class="flex gap-3">
        <div
          class="flex items-center justify-center px-3 bg-white border rounded-md py-1.5 h-7.5 w-11.5 border-black/5"
        >
          <img
            src="/src/assets/images/visa.svg"
            alt="Visa"
            class="object-contain w-full h-auto"
          />
        </div>
        <div
          class="flex items-center justify-center px-3 bg-white border rounded-md py-1.5 h-7.5 w-11.5 border-black/5"
        >
          <img
            src="/src/assets/images/mastercard.svg"
            alt="MasterCard"
            class="object-contain w-full h-auto"
          />
        </div>
        <div
          class="flex items-center justify-center px-3 bg-white border rounded-md py-1.5 h-7.5 w-11.5 border-black/5"
        >
          <img
            src="/src/assets/images/paypal.svg"
            alt="PayPal"
            class="object-contain w-full h-auto"
          />
        </div>
        <div
          class="flex items-center justify-center px-3 bg-white border rounded-md py-1.5 h-7.5 w-11.5 border-black/5"
        >
          <img
            src="/src/assets/images/pay.svg"
            alt="Apple Pay"
            class="object-contain w-full h-auto"
          />
        </div>
        <div
          class="flex items-center justify-center px-3 bg-white border rounded-md py-1.5 h-7.5 w-11.5 border-black/5"
        >
          <img
            src="/src/assets/images/gpay.svg"
            alt="Google Pay"
            class="object-contain w-full h-auto"
          />
        </div>
      </div>
    </div>
  </div>
</section>
