<section class="mb-[100px] bg-[#F0F0F0] rounded-[40px] py-16 px-6 sm:px-16">
  <div class="container mx-auto max-w-[1110px]">
    <h2 class="uppercase font-integral text-[32px] md:text-[48px] font-black text-center mb-16 tracking-tight">
      BROWSE BY DRESS STYLE
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      
      <div class="relative h-[289px] rounded-[20px] overflow-hidden bg-white bg-[url('/src/assets/images/casual.webp')] bg-cover bg-right-top md:bg-center p-6 md:p-9">
        <span class="text-2xl md:text-3xl font-bold text-black">Casual</span>
      </div>

      <div class="relative h-[289px] rounded-[20px] overflow-hidden bg-white md:col-span-2 bg-[url('/src/assets/images/formal.webp')] bg-cover bg-right-top md:bg-center p-6 md:p-9">
        <span class="text-2xl md:text-3xl font-bold text-black">Formal</span>
      </div>

      <div class="relative h-[289px] rounded-[20px] overflow-hidden bg-white md:col-span-2 bg-[url('/src/assets/images/party.webp')] bg-cover bg-center p-6 md:p-9">
        <span class="text-2xl md:text-3xl font-bold text-black">Party</span>
      </div>

      <div class="relative h-[289px] rounded-[20px] overflow-hidden bg-white bg-[url('/src/assets/images/gym.webp')] bg-cover bg-center p-6 md:p-9">
        <span class="text-2xl md:text-3xl font-bold text-black">Gym</span>
      </div>

    </div>
  </div>
</section>