<section
  class="container px-4 mx-auto mb-16 text-center border-b md:px-0 mt-18 border-black/10"
>
  <div class="container mx-auto max-w-310">
    <h2 class="uppercase font-integral text-[48px] sm:text-[32px] mb-13.75">
      New Arrivals
    </h2>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <a
              href="/src/partials/product.html"
              class="flex flex-col items-start"
            >
              <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
                <picture>
                  <source
                    srcset="
                      /src/assets/images/frame1.webp    1x,
                      /src/assets/images/frame1@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /src/assets/images/frame1.png    1x,
                      /src/assets/images/frame1@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    src="/src/assets/images/frame1.webp"
                    alt="T-shirt With Tape Details"
                    class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                  />
                </picture>
              </div>
              <h3
                class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
              >
                T-shirt With Tape Details
              </h3>
              <div class="flex flex-row items-center my-2 gap-1.5">
                <div class="flex gap-1">
                  <svg class="w-4.5 h-4.5">
                    <use
                      href="/src/assets/images/symbol-defs.svg#icon-star4"
                    ></use>
                  </svg>
                  <svg class="w-4.5 h-4.5">
                    <use
                      href="/src/assets/images/symbol-defs.svg#icon-star4"
                    ></use>
                  </svg>
                  <svg class="w-4.5 h-4.5">
                    <use
                      href="/src/assets/images/symbol-defs.svg#icon-star4"
                    ></use>
                  </svg>
                  <svg class="w-4.5 h-4.5">
                    <use
                      href="/src/assets/images/symbol-defs.svg#icon-star4"
                    ></use>
                  </svg>
                  <svg class="w-2.25 h-4.5">
                    <use
                      href="/src/assets/images/symbol-defs.svg#icon-star5"
                    ></use>
                  </svg>
                </div>
                <span class="text-sm font-satoshi text-neutral-500"
                  >4.5/<span class="text-neutral-400">5</span></span
                >
              </div>
              <p class="font-bold text-black font-satoshi text-[24px]">$120</p>
            </a>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame2.webp    1x,
                    /src/assets/images/frame2@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame2.png    1x,
                    /src/assets/images/frame2@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame2.webp"
                  alt="Skinny Fit Jeans"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Skinny Fit Jeans
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-2.25 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star5"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >3.5/<span class="text-neutral-400">5</span></span
              >
            </div>
            <div class="flex items-center gap-2.5">
              <p class="font-bold text-black font-satoshi text-[24px]">$240</p>
              <p
                class="font-bold line-through font-satoshi text-[24px] text-neutral-400"
              >
                $260
              </p>
              <span
                class="px-2 text-sm font-medium rounded-full font-satoshi bg-red-50 text-sale py-0.5"
                >-20%</span
              >
            </div>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame3.webp    1x,
                    /src/assets/images/frame3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame3.png    1x,
                    /src/assets/images/frame3@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame3.webp"
                  alt="Checkered Shirt"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Checkered Shirt
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-2.25 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star5"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >4.5/<span class="text-neutral-400">5</span></span
              >
            </div>
            <p class="font-bold text-black font-satoshi text-[24px]">$180</p>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame4.webp    1x,
                    /src/assets/images/frame4@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame4.png    1x,
                    /src/assets/images/frame4@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame4.webp"
                  alt="Sleeve Striped T-shirt"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Sleeve Striped T-shirt
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >4.0/<span class="text-neutral-400">5</span></span
              >
            </div>
            <div class="flex items-center gap-2.5">
              <p class="font-bold text-black font-satoshi text-[24px]">$130</p>
              <p
                class="font-bold line-through font-satoshi text-[24px] text-neutral-400"
              >
                $160
              </p>
              <span
                class="px-2 text-sm font-medium rounded-full font-satoshi bg-red-50 text-sale py-0.5"
                >-30%</span
              >
            </div>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame5.webp    1x,
                    /src/assets/images/frame5@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame5.png    1x,
                    /src/assets/images/frame5@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame5.webp"
                  alt="Vertical Striped Shirt"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Vertical Striped Shirt
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >5.0/<span class="text-neutral-400">5</span></span
              >
            </div>
            <p class="font-bold text-black font-satoshi text-[24px]">$212</p>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame6.webp    1x,
                    /src/assets/images/frame6@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame6.png    1x,
                    /src/assets/images/frame6@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame6.webp"
                  alt="Courage Graphic T-shirt"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Courage Graphic T-shirt
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >4.0/<span class="text-neutral-400">5</span></span
              >
            </div>
            <p class="font-bold text-black font-satoshi text-[24px]">$145</p>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame7.webp    1x,
                    /src/assets/images/frame7@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame7.png    1x,
                    /src/assets/images/frame7@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame7.webp"
                  alt="Loose Fit Bermuda Shorts"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Loose Fit Bermuda Shorts
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >3.0/<span class="text-neutral-400">5</span></span
              >
            </div>
            <p class="font-bold text-black font-satoshi text-[24px]">$80</p>
          </div>
        </div>

        <div class="p-3 swiper-slide">
          <div
            class="flex flex-col items-start transition-all ease-out bg-transparent cursor-pointer group duration-400 hover:-translate-y-1.5"
          >
            <div class="w-full overflow-hidden rounded-xl bg-[#F0EEED]">
              <picture>
                <source
                  srcset="
                    /src/assets/images/frame8.webp    1x,
                    /src/assets/images/frame8@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /src/assets/images/frame8.png    1x,
                    /src/assets/images/frame8@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="/src/assets/images/frame8.webp"
                  alt="Faded Skinny Jeans"
                  class="object-cover w-full h-auto transition-transform duration-500 ease-out group-hover:scale-104"
                />
              </picture>
            </div>
            <h3
              class="mt-4 font-bold leading-tight text-black transition-colors duration-300 font-satoshi text-[20px] group-hover:text-neutral-700"
            >
              Faded Skinny Jeans
            </h3>
            <div class="flex flex-row items-center my-2 gap-1.5">
              <div class="flex gap-1">
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-4.5 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star4"
                  ></use>
                </svg>
                <svg class="w-2.25 h-4.5">
                  <use
                    href="/src/assets/images/symbol-defs.svg#icon-star5"
                  ></use>
                </svg>
              </div>
              <span class="text-sm font-satoshi text-neutral-500"
                >4.5/<span class="text-neutral-400">5</span></span
              >
            </div>
            <p class="font-bold text-black font-satoshi text-[24px]">$210</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

    <button
      class="px-20 py-4 mx-auto mb-16 text-black bg-white border hover:bg-black hover:text-white rounded-4xl border-black/10 mt-9"
    >
      View All
    </button>
  </div>
</section>
